---
import Hero from '@components/Hero.astro';
import Section from '@components/Section.astro';
import Layout from '@layouts/Layout.astro';
import type { Project } from '@src/constants';

const webProjects = await Astro.glob(`../assets/web/*.md`);
// const gameProjects = await Astro.glob(`../assets/game/*.md`);
// const designProjects = await Astro.glob(`../assets/design/*.md`);
---

<Layout>
  <main class="home">
    <Hero header footer />
    <Hero header />

    <div class="content">
      <Section projects={webProjects.map((project) => project.frontmatter as Project)} title="Web Development" />
      <!-- <Section projects={gameProjects.map((project) => project.frontmatter as Project)} title="Game Development" />
      <Section projects={designProjects.map((project) => project.frontmatter as Project)} title="Product Design" /> -->
    </div>

    <Hero footer />
  </main>
</Layout>

<style lang="scss">
  @import '../styles/shared';

  .home {
    @include page;
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    background-color: var(--backgroundDark);

    @include light {
      background-color: var(--backgroundLight);
    }

    @include dark {
      background-color: var(--backgroundDark);
    }

    @include tablet {
      gap: 0;
    }

    @include landscape {
      @include desktop {
        position: relative;
        display: grid;
        height: 100%;
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        grid-template-columns: min(27%, 40rem) 1fr;
      }
    }

    .content {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
      padding-top: 1.5rem;
    }
  }
</style>
