---
import GithubIcon from '@assets/icons/github-fill.svg';
import LinkedInIcon from '@assets/icons/linkedin-fill.svg';
import MailIcon from '@assets/icons/mail-fill.svg';
import profilePicture from '@assets/profile/Profile.webp';
import { default as DarkModeToggle } from './DarkModeToggle.astro';

export interface Props {
  header?: boolean;
  footer?: boolean;
  about?: boolean;
}

const { header, footer, about } = Astro.props as Props;
---

<div class:list={['hero', { lateralHero: header && footer }]}>
  <div class="card">
    {
      header && (
        <header>
          <img class="profileImage" src={profilePicture} alt="profile picture" />

          <div>
            <small>{'Hi'}</small>
            <h1>{"I'm Carles Rojas"}</h1>
            <h2>{'Software Engineer & Designer from Barcelona'}</h2>

            <a href={about ? '/' : '/about'}>{about ? 'My projects' : 'About me'}</a>
          </div>
        </header>
      )
    }

    {
      footer && (
        <footer>
          <DarkModeToggle />

          <div>
            <a href="https://www.linkedin.com/in/carles-rojas/" target="_blank" rel="noopener noreferrer">
              <img src={LinkedInIcon} alt="LinkedIn Icon" />
            </a>

            <a href="https://github.com/CarlesRojas" target="_blank" rel="noopener noreferrer">
              <img src={GithubIcon} alt="Github Icon" />
            </a>

            <a href="mailto:carlesrojas@outlook.com" target="_blank" rel="noopener noreferrer">
              <img src={MailIcon} alt="Mail Icon" />
            </a>
          </div>
        </footer>
      )
    }
  </div>
</div>

<style lang="scss">
  @import '../styles/mixins.scss';
  @import '../styles/shared.scss';

  .hero {
    position: relative;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: var(--spacing);

    @include landscape {
      @include desktop {
        display: none;
        padding-right: 0;
      }
    }

    &.lateralHero {
      display: none;

      @include landscape {
        @include desktop {
          display: block;
          max-height: 100vh;
        }
      }
    }

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: calc(var(--spacing) * 2) var(--spacing);
      gap: var(--spacing);
      @include card(1);

      @include landscape {
        @include desktop {
          overflow: auto;

          @media (max-height: 830px) {
            padding: var(--spacing);

            header {
              .profileImage {
                max-width: 12rem !important;
              }
            }
          }

          @media (max-height: 720px) {
            padding: 1rem var(--spacing);

            header {
              .profileImage {
                max-width: 10rem !important;
              }
            }
          }
        }
      }

      header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        @include landscape {
          flex-direction: row;

          @include desktop {
            flex-direction: column;
          }
        }

        .profileImage {
          position: relative;
          width: 100%;
          max-width: 17rem;
          @include aspect-ratio(1, 1);
          pointer-events: none;
          user-select: none;

          @include landscape {
            max-width: 12rem;

            @include tablet {
              max-width: 17rem;
            }

            @include desktop {
              max-width: 25rem;
            }
          }

          @include tablet {
            max-width: 17rem;
          }

          @include desktop {
            max-width: 25rem;
          }
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: fit-content;
          gap: 0.5rem;

          @include landscape {
            align-items: flex-start;

            @include desktop {
              align-items: center;
            }
          }

          small {
            width: fit-content;
            max-width: 25rem;
            text-align: center;
            @include text-small;
            @include text-low;

            @include landscape {
              text-align: left;

              @include desktop {
                text-align: center;
              }
            }
          }

          h1 {
            width: fit-content;
            max-width: 25rem;
            text-align: center;
            @include header;

            @include landscape {
              text-align: left;

              @include desktop {
                text-align: center;
              }
            }
          }

          h2 {
            width: fit-content;
            max-width: 25rem;
            text-align: center;

            @include header-small;
            @include text-low;

            @include landscape {
              text-align: left;

              @include desktop {
                text-align: center;
              }
            }
          }

          a {
            @include card(2);
            padding: 1rem 1.5rem;
            margin-top: 0.5rem;

            @include mouse {
              cursor: pointer;

              &:hover {
                scale: 1.1;
              }
            }
          }
        }
      }

      footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2rem;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: 2rem;

          a {
            position: relative;
            height: 3.5rem;
            width: 3.5rem;
            padding: 1rem;
            @include card(2);

            @include mouse {
              cursor: pointer;

              &:hover {
                scale: 1.1;
              }
            }

            img {
              filter: invert(1);
              height: 100%;
              width: 100%;

              @include light {
                filter: invert(0);
              }

              @include dark {
                filter: invert(1);
              }
            }
          }
        }
      }
    }
  }
</style>
